Checks: >
  -*,
  bugprone-*,
  performance-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-owning-memory,
  cppcoreguidelines-pro-type-member-init,
  modernize-use-nullptr

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: none